font-family: 'K2D', sans-serif;

html, body{
    overflow: hidden;
}
#page{
    height: 100vh;
    /*background: black;*/
}
#intro{
    position: relative;
    /*background-image: url("../welcome_bg.jpg");*/
    height: 100vh;
    /*opacity: 0.2;*/
    font-family: K2D;
}
#intro:after {
    content: "";
    background-image: url("../welcome_bg.jpg");
    filter: grayscale(55%);
    opacity: 0.2;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
}
#action{
    background: dimgray;
    height: 100vh;
}
.welcome-text{
    font-size: 3em;
}
.label{
    font-size: 3em;
    background-color: #4dc0b5;
    transform: rotate(-13deg);
}
.fas-magin{
	margin-top: 1em;
}
.model-center{
	margin: 0 auto;
}