<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>swe.listener.Initial</listener-class>
    </listener>
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>swe.auth.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutServlet</servlet-name>
        <servlet-class>swe.auth.SignOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>swe.auth.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>swe.profile.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageServlet</servlet-name>
        <servlet-class>swe.HomePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BeTranslatorServlet</servlet-name>
        <servlet-class>swe.profile.BeTranslatorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewWorkServlet</servlet-name>
        <servlet-class>swe.work.AddNewWorkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyWorkServlet</servlet-name>
        <servlet-class>swe.work.MyWorkServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutServlet</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/editprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BeTranslatorServlet</servlet-name>
        <url-pattern>/betranslator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewWorkServlet</servlet-name>
        <url-pattern>/addnewwork</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyWorkServlet</servlet-name>
        <url-pattern>/mywork</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Welcome_PageNewVersion.jsp</welcome-file>
    </welcome-file-list>
</web-app>
